<div id="@ID" class="display-container display-size-12 col-auto">
    <div class="segment-x segment-a"><span class="segment-border"></span></div>
    <div class="segment-y segment-b"><span class="segment-border"></span></div>
    <div class="segment-y segment-c"><span class="segment-border"></span></div>
    <div class="segment-x segment-d"><span class="segment-border"></span></div>
    <div class="segment-y segment-e"><span class="segment-border"></span></div>
    <div class="segment-y segment-f"><span class="segment-border"></span></div>
    <div class="segment-x segment-g"><span class="segment-border"></span></div>
    <div class="segment-h"></div>
</div>

@code {
    [Parameter]
    required public string ID { get; set; }
}