@page "/"
@using RexSimulator.Hardware
@using System.Text.Json

@inject IJSRuntime JSRuntime

<Level @ref="levelComponent" Title="Sandbox" BoardChanged="CheckBoard" Toolbox="@toolbox" maxInstances="@maxInstances" UIComponents="@Components" WSIMInstructions="@Instructions"/>

@code {
    public Level? levelComponent;
    required public WSIM WSIM;

    required public RexBoard board;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && levelComponent != null && levelComponent.wsimComponent != null)
        {
            board = levelComponent.wsimComponent.board;
            WSIM = levelComponent.wsimComponent;
        }
    }

    public UIComponents Components = new UIComponents(Blockly: true, Visualiser: true, Code: true, GPRegisters: true, SPRegisters: true, RAM: true, ParallelRegisters: true, SerialPort: true, LEDs: true, Switches: true, Buttons: true, SSDs: true);

    /// <summary>
    /// This method is called on any changes to the WRAMP board, or the Blockly workspace. The state of the board can be accessed via the variable board or using
    /// the method WSIM.Verify(), variables like running can be accessed via WSIM, and the user's code can be accessed by calling await GetUserCode()
    /// </summary>
    /// <returns></returns>
    public async Task CheckBoard()
    {

    }

    /// <summary>
    /// Toggle a checkmark depending on the state of goal
    /// </summary>
    /// <param name="goal">Goal to be checked</param>
    /// <param name="checkmarkID">ID of checkmark to be toggled</param>
    public void CheckObjective(bool goal, string checkmarkID)
    {
        JSRuntime.InvokeVoidAsync(goal ? "objectiveCheck" : "objectiveUncheck", checkmarkID);
    }

    /// <summary>
    /// </summary>
    /// <returns>WRAMP Code from the Blockly workspace</returns>
    public async Task<string> GetUserCode()
    {
        return await JSRuntime.InvokeAsync<string>("getGeneratedCode");
    }

    /// <summary>
    /// Update the Blockly toolbox
    /// </summary>
    /// <param name="toolbox"></param>
    /// <returns></returns>
    public async Task UpdateToolbox(Toolbox toolbox)
    {
        await JSRuntime.InvokeVoidAsync("updateToolbox", JsonSerializer.Serialize(toolbox));
    }

    public int section = 0;

    public RenderFragment Instructions =>
    @<div>

    </div>;

    public string maxInstances = "{ 'global': 1}";

    public Toolbox toolbox = new Toolbox{
        contents = new List<Category>() {
            new Category {
                name = "Sections",
                categorystyle = "sectionCategory",
                contents = new List<Block>() {
                    new Block { type = "textHead" },
                    new Block { type = "global" },
                    new Block { type = "dataHead" },
                    new Block { type = "bssHead" }
                }
            },
            new Category {
                name = "Branch",
                categorystyle = "branchCategory",
                contents = new List<Block>() {
                    new Block { type = "label" },
                    new Block { type = "jump" },
                    new Block { type = "jumpRegister" },
                    new Block { type = "branchOn" }
                }
            },
            new Category {
                name = "Memory",
                categorystyle = "memoryCategory",
                contents = new List<Block>() {
                    new Block { type = "loadWord" },
                    new Block { type = "storeWord" },
                    new Block { type = "loadAddress" },
                    new Block { type = "word" },
                    new Block { type = "asciiz" },
                    new Block { type = "ascii" },
                    new Block { type = "space" },
                    new Block { type = "equ" }
                }
            },
            new Category {
                name = "Arithmetic",
                categorystyle = "arithmeticCategory",
                contents = new List<Block>() {
                    new Block { type = "arithmetic" },
                    new Block { type = "arithmeticUnsigned" },
                    new Block { type = "arithmeticImmediate" },
                    new Block { type = "arithmeticUnsignedImmediate" },
                    new Block { type = "loadHighImmediate" },
                }
            },
            new Category {
                name = "Logic",
                categorystyle = "logicCategory",
                contents = new List<Block>() {
                    new Block { type = "bitwise" },
                    new Block { type = "bitwiseImmediate" },
                    new Block { type = "shift" },
                    new Block { type = "shiftImmediate" },
                }
            },
            new Category {
                name = "Conditional",
                categorystyle = "conditionalCategory",
                contents = new List<Block>() {
                    new Block { type = "setOn" },
                    new Block { type = "setOnUnsigned" },
                    new Block { type = "setOnImmediate" },
                    new Block { type = "setOnUnsignedImmediate" },
                }
            },
            new Category {
                name = "Special",
                categorystyle = "specialCategory",
                contents = new List<Block>() {
                    new Block { type = "moveGeneralToSpecial" },
                    new Block { type = "moveSpecialToGeneral" },
                    new Block { type = "break" },
                    new Block { type = "syscall" },
                    new Block { type = "returnFromException" },
                }
            }
        }
    };
}