@using System.Runtime.CompilerServices
@using System.ComponentModel
@inject IJSRuntime JSRuntime

<div id="blocklyDiv"></div>

<button @onclick="export">Export</button>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initBlockly");
        }
    }

    async Task export()
    {
        await JSRuntime.InvokeVoidAsync("generateCode");
    }
}
