<label class="inputCheckmark" id="@id" for="@forInput"><i class="bi bi-check-lg"></i></label>

@code {
    [Parameter]
    required public string id { get; set; }

    [Parameter]
    public string? forInput { get; set;}
}