@using RexSimulator.Hardware
@using RexSimulator.Hardware.Wramp
@using System.Security.Permissions

@code {
    [Parameter]
    required public SimpleWrampCpu CPU { get; set; }
} 

@* Prints out the GPIO registers $1-$13 in decimal, hex, and binary *@
@if (CPU != null) {
    <table>
        <thead>
            <tr>
                <th>Register</th>
                <th>Decimal</th>
                <th>Hex</th>
                <th>Binary</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 15; i++) {
                uint val = CPU.mGpRegisters[(RegisterFile.GpRegister)i];
                <tr>
                    @if (i == 14) {
                        <td>$@i ($sp)</td>
                    }
                    else if (i == 15) {
                        <td>$@i ($ra)</td>
                    }
                    else {
                        <td>$@i</td>
                    }
                    <td>@val</td>
                    <td>@("0x" + val.ToString("X8"))</td>
                    <td>@Convert.ToString(val, 2).PadLeft(32, '0')</td>
                </tr>
            }
        </tbody>
    </table>
}
