@page "/"
@using RexSimulator.Hardware
@using RexSimulator.Hardware.Wramp

<PageTitle>Home</PageTitle>

<h1>WRAMP Registers</h1>

<InputFile OnChange="LoadSREC"/>

<button @onclick="Step">Step</button>
<button @onclick="Run">Run</button>
<button @onclick="Pause">Pause</button>

@code { 
    RexBoard board = new RexBoard(); 
    bool running = false;

    async Task LoadSREC(InputFileChangeEventArgs e) {
        using Stream stream = e.File.OpenReadStream();
        await board.LoadSrecAsync(stream);        
    }

    void Step()
    {
        while(!board.Tick());
        StateHasChanged();
    }

    async Task Run()
    {
        if (running == false) {
            running = true;
            while (running)
            {
                board.Tick();
                await InvokeAsync(StateHasChanged);
                await Task.Delay(10);
            }
        }
    }

    void Pause()
    {
        running = false;
    }
}

<Registers CPU="@board.CPU" />