@page "/"
@using RexSimulator.Hardware
@using RexSimulator.Hardware.Wramp

<PageTitle>Home</PageTitle>

<h1>WRAMP Registers</h1>

@code { 
    RexBoard board = new RexBoard(); 

    void StepCPU() {
        board.Tick();
        board.CPU.mGpRegisters[(RegisterFile.GpRegister)1]++;
    }
}

<button class="btn btn-primary" @onclick="StepCPU">Step</button>

<Registers CPU="@board.CPU" />