@page "/levelOne"
@using RexSimulator.Hardware

<Level @ref="levelComponent" Title="Level One" LevelChanged="CheckBoard" LevelName="levelOne" Toolbox="@toolbox" Registers="@registers" components="@Components" WSIMInstructions="@MainInstructions"/>

@code {
    public Level? levelComponent;
    required public RexBoard board;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && levelComponent != null && levelComponent.wsimComponent != null)
        {
            board = levelComponent.wsimComponent.board;
        }
    }

    public List<KeyValuePair<int, int>> registers = new() {
        new KeyValuePair<int, int> (1, 5),
        new KeyValuePair<int, int> (2, 10),
    };

    public Components Components = new Components(Blockly: true, WSIMInstructions: true, GPRegisters: true, Switches: true, LEDs: true, ParallelRegisters: true);

    public RenderFragment Instructions => @<div>
        <p>Set the following registers to the following values</p>
        <ul>
            <li>$1: 5</li>
            <li>$2: 10</li>
        </ul>
    </div>;

    public int step = 0;

    public RenderFragment MainInstructions =>
    @<div>
        <h1>Welcome!</h1>
        <ul>
            <li>On the right side of the screen is a display showing the physical components of the WRAMP board.</li>
            <li>You can click on the switches and buttons to change the values stored in the Parallel Registers tab.</li>
            <li>Which memory address contains the value of the switches?</li>

            <input @oninput="OnInputChanged" placeholder="Enter address"/>

            @if (step >= 1)
            {
                <li>That's correct!</li>
                <li>Next, can you toggle the switches such that this value has the decimal value 10?</li>
            }

            @if (step >= 2)
            {
                <li> Great work! </li>
                <li> Next, write some blockly code to light up the LEDs above the switches. </li>
                <li> You can write a value to these using the sw (store word) instruction and using the memory address 0x7300A </li>
                <li> Can you light up all the LEDs at once? </li>
            }

            @if (step >= 3)
            {
                <li> Finally, can you load the value from the switches and store it into the leds? </li>
                <li> You'll need to use both the lw and sw instructions. </li>
                <li> Note that you can't move the value directly from one address to another, you'll need to temporarily store it in a register. </li>
            }

            @if (step >= 4)
            {
            <li> To test that it is working properly, try switching different switches and watch the corresponding LED light up.  </li>
                <li> You may need to add a loop back to the start to have it continually update.  </li>
            }
        </ul>
    </div>;

    public void OnInputChanged(ChangeEventArgs e)
    {
        string userInput = e.Value?.ToString() ?? "";
        if (userInput == "73000" || userInput == "00073000" || userInput == "0x73000")
        {
            if(step == 0) step++;
        }
    }

    public async Task CheckBoard()
    {
        if (board.Parallel.Switches == 10 && step == 1)
        {
            step++;
            StateHasChanged();
        }
        if (board.Parallel.Leds == 4294967295 && step == 2)
        {
            step++;
            StateHasChanged();
        }
        if (board.Parallel.Leds == 65535 && board.Parallel.Switches == 65535 && step == 3)
        {
            step++;
            StateHasChanged();
        }
    }

    public Toolbox toolbox = new Toolbox{
        contents = new List<Category>() {
            new Category {
                name = "Sections",
                categorystyle = "sectionCategory",
                contents = new List<Block>() {
                    new Block { type = "textHead" },
                    new Block { type = "global" }
                }
            },
            new Category {
                name = "Branch",
                categorystyle = "branchCategory",
                contents = new List<Block>() {
                    new Block { type = "label" },
                    new Block { type = "jumpRegister" },
                    new Block { type = "jump" }
                }
            },
            new Category {
                name = "Memory",
                categorystyle = "memoryCategory",
                contents = new List<Block>() {
                    new Block { type = "loadWord" },
                    new Block { type = "storeWord" }
                }
            },
            new Category {
                name = "Arithmetic",
                categorystyle = "arithmeticCategory",
                contents = new List<Block>() {
                    new Block { type = "arithmeticImmediate" },
                    new Block { type = "loadHighImmediate" }
                }
            }
        }
    };
}