@inject IJSRuntime JSRuntime

<div class="col-auto">
    <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#levelSelect" aria-expanded="true" aria-controls="levelSelect">
        ☰
    </button>
    <div class="collapse collapse-horizontal show" id="levelSelect">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <NavLink class="nav-link" href="." Match="NavLinkMatch.All">Sandbox</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="levelIntro">Introduction<label class="inputCheckmark float-end" id="levelIntroCheckmark">✔</label></NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="levelOne">#1<label class="inputCheckmark float-end" id="levelOneCheckmark">✔</label></NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="levelTwo">#2<label class="inputCheckmark float-end" id="levelTwoCheckmark">✔</label></NavLink>
            </li>
        </ul>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("levelSelect");
            await JSRuntime.InvokeVoidAsync("levelCheck");
            await JSRuntime.InvokeVoidAsync("clearPopovers");
        }
    }
}
