@inject IJSRuntime JSRuntime

<div class="col-auto">
    <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#levelSelect" aria-expanded="true" aria-controls="levelSelect">
        ☰
    </button>
    <button class="btn btn-danger float-end my-2 ms-4" @onclick="ResetLevels">
        Reset
    </button>
    <div class="collapse collapse-horizontal show" id="levelSelect">
        <ul class="nav flex-column nav-pills">
            @* Sandbox - Home Page - position in list as needed *@
            <LevelLink href="." name="Sandbox"/>

            @* Example levels *@
            <LevelLink href="levelIntro" name="Introduction"/>
            <LevelLink href="levelOne" name="#1"/>
            <LevelLink href="levelTwo" name="#2"/>
        </ul>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("levelSelect");
            await JSRuntime.InvokeVoidAsync("levelCheck");
            await JSRuntime.InvokeVoidAsync("clearPopovers");
        }
    }

    public void ResetLevels()
    {
        JSRuntime.InvokeVoidAsync("resetLevels");
    }
}
