@inject IJSRuntime JSRuntime

<div class="col-auto">
    <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#levelSelect" aria-expanded="true" aria-controls="levelSelect">
        ☰
    </button>
    <div class="collapse collapse-horizontal show" id="levelSelect">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link" id="sandbox" aria-current="page" href="/">Sandbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="levelOne" href="/levelIntro">Introduction<label class="inputCheckmark float-end" id="levelIntroCheckmark">✔</label></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="levelOne" href="/levelOne">#1<label class="inputCheckmark float-end" id="levelOneCheckmark">✔</label></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="levelTwo" href="/levelTwo">#2<label class="inputCheckmark float-end" id="levelTwoCheckmark">✔</label></a>
            </li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    required public string LevelName { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("levelSelect", LevelName);
            await JSRuntime.InvokeVoidAsync("levelCheck");
        }
    }
}
