@using RexSimulator.Hardware
@using RexSimulator.Hardware.Rex
@using RexSimulator.Hardware.Wramp
@using System.Linq
@using System.Reflection.Metadata.Ecma335

@code {
    [Parameter]

    required public MemoryDevice mDevice { get; set; }

    [Parameter]

    required public SimpleWrampCpu CPU { get; set; }

    public class MemoryPos
    {
        public string pointer;
        public uint address;
        public uint value;
        public IR ir = new IR();
        public MemoryPos(string pointer, uint address, uint value)
        {
            this.pointer = pointer;
            this.address = address;
            this.value = value;
            ir.Instruction = value;
        }
    }
}

@* Prints out the contents of RAM, detailing address, value, and the disassembled instructions *@
@if (mDevice != null)
{
    List<MemoryPos> mPos = new List<MemoryPos>();
    @for (uint i = mDevice.BaseAddress; i < (mDevice.BaseAddress + mDevice.Size); i++)
    {
        if (mDevice.Name == "Memory (RAM)")
        {
            if (i == CPU.PC)
            {
                mPos.Add(new MemoryPos("$pc", i, mDevice[i]));
                continue;
            }
            else if (i == CPU.mGpRegisters[15])
            {
                mPos.Add(new MemoryPos("$ra", i, mDevice[i]));
                continue;
            }
            else if (i == CPU.mGpRegisters[14])
            {
                mPos.Add(new MemoryPos("$sp", i, mDevice[i]));
                continue;
            }
        }
        mPos.Add(new MemoryPos("", i, mDevice[i]));
    }

    <table id="mDeviceTable">
        <thead>
            <tr>
                <th>Pointer</th>
                <th>Address</th>
                <th>Value</th>
                <th>Disassembly</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="mPos" Context="item">
                <tr>
                    <td>@item.pointer</td>
                    <td>@item.address.ToString("X8")</td>
                    <td>@item.value.ToString("X8")</td>
                    <td>@item.ir.ToString()</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}
